/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1.Từ ngoài vào trong
2.Từ trên xuống
3.Tổng quan đến chi tiết
*/

/* 
1.Vị trí 
2. Kích thước (width, height)
3. Màu sắc 
4. Kiểu dáng (font,type, ....)
*/
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* common */
.text-white {
    color: #fff !important;
}
.text-center {
    text-align: center !important;
}
.row:after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    width: 100%;
}

.col-haft{
    width: 50%;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.33333%;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.m-r--8 {
    margin-right: -8px !important;
}
.m-l--8 {
    margin-left: -8px !important;
}
#header {
    height: 46px;
    background-color: #000;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
    list-style: none;
}

#nav > li > a{
    padding: 0 24px;
    text-transform: uppercase;
    line-height: 46px;
    color: #fff;
}
#nav li a {
    text-decoration: none;
    display: block;
}
#nav .subnav li:hover a,
#nav >li:hover >a {
    color: #000;
    background-color: #ccc;
}
#nav li:hover a {
    display: block;
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    top:46px;
    left: 0;
    min-width: 160px;
    background-color: #fff;
}

.subnav {
    box-shadow: 0 0 10px rgba(0,0 ,0, 0.5);
}

.subnav li {
    width: 100%;
}
.subnav li a {
    padding: 0 12px;
    line-height: 38px;
    color: #000;
}

#header .search-btn{
    color: #fff;
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}
#slider {
    position: relative;
    margin-top: 46px;
    background: url('./assets/img/chicago.jpg') top center / contain no-repeat;
    padding-top: 50%;
}
#slider .text-content {
    position: absolute;
    width: 100%;
    bottom: 98px;
    color: #fff;
}
#slider .text-heading {
    font-size: 36px;
    line-height: 2;
}
#content .section-content {
     width: 800px;
     max-width: 100%;
     padding: 64px 0 112px;
     margin: auto;
}
#content .section-heading {
    letter-spacing: 4px;
}
#content .section-sub-heading{
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content {
    line-height: 1.4;
    margin-top: 25px;
    text-align: justify; 
}
#content .members-list{
    padding-top: 32px;
}
#content .member-name {
    font-size: 14px;
    margin: 15px 0;
}
#content .member-img {
    width: 60%;     
    border-radius: 4px;   
}
.tour-section {
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    font-size: 15px;
    box-sizing: inherit;
}
.tickets-list li {
    padding: 8px 16px;
    list-style: none;
    border-bottom: #ddd solid;
    color: #757575;
}
.tickets-list .sold-out {
    padding: 3px 4px;
    color: #fff;
    background-color: #f44336;
    margin-left: 16px;
}
.tickets-list .quantity {
    float:right;
    background-color: #000;
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
}
.places-list {
    padding-top: 32px;
    font-size: 15px;
}
.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}

.place-content {
    padding: 12px 14px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    opacity: 0.6;
    padding-top: 16px;
}

.place-des {
    line-height: 1.4;
    padding-top: 16px;
}

.place-buy-btn {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin: 16px 0 12px;
    display: inline-block;

}
.place-buy-btn:hover {
    background-color: #ddd;
    color: #000;
}
.contact-form {
    padding-top: 32px;
}
.contact-form .contact-info{
    font-size: 18px;
}
.contact-info span {
    margin-right: 12px;
    display: inline-block;
    width: 18px;
}
.contact-info p {
    margin-top: 4px;
}
.contact-input {
    font-size: 15px;
    padding: 9px 9px;
    margin-bottom: 9px;
}
.contact-btn {
    float: right;
    padding: 8px 0;
}
.btn-submit {
    padding: 8px 8px;
    text-transform: uppercase;
    border: none;
    background-color: #000;
    color: #fff;
}
.btn-submit:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
#content .map img {
    width: 100%;
}
#footer {
    text-align: center;
    padding: 64px 16px;
}
.socials-list a {
    font-size: 24px;
    text-decoration: none;
    color: rgba(0,0 ,0, 0.6);
}
#footer .copyright {
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0,0 ,0, 0.6);
}
#footer .copyright a {
    color: rgba(0,0 ,0, 0.6);
}
.socials-list a:hover,
.copyright a:hover {
    color: rgba(0,0 ,0, 0.5);
}
.modal {
    display: none;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0 ,0, 0.6);
    position: fixed;
    justify-content: center;
    align-items: center;
}
.modal-container {
    background-color: #fff;
    min-height: 200px;
    width: 900px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009688;
}
.modal-heading {
    font-size: 30px;
    padding: 34px;
}
.modal-heading .modal-ticket-bag {
    margin-right: 14px;
}
.modal-header .fa-solid.fa-xmark{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
}
.modal-header .fa-solid.fa-xmark:hover {
    cursor: pointer;
    color: #f44336;
}
.modal-body {
    padding: 12px;
    font-size: 15px;
}
.modal-label{
    display: block;
    margin-bottom: 11px;
}
.modal-input {
    margin-bottom: 24px;
    font-size: 15px;
    width: 100%;
    border: 1px solid #757575;
    padding: 8px;
}
#buy-ticket {
    width: 100%;
    font-size: 15px;
    padding: 17px;
    background-color: #009688;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

#buy-ticket:hover {
    opacity: 0.9;
    cursor: pointer;
    color: #000;
}
.modal-footer {
    float: right;
    padding: 20px 12px 30px;
}
.modal-help a {
    color: #2196F3;
}
.open {
    display: flex;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @media (min-width:1024){

}
@media (min-width: 740) and (max-width: 1023){

} */
@media (max-width: 739){
    #nav li {
        display: block;
    }
}
